html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

.header {
	padding: 25px 0px;
	height: 38px;
	width: 100%;
	position: fixed;
	background: white;
}

.header-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	width: 155px;
	height: 31px;
	float: left;
}

.nav {
}

.nav a {
	font:  16px "Lato", sans-serif;
	text-decoration: none;
	color: #97A2A7;
	margin: 0px 5px;
}

.header-nav a:hover {
	border-bottom: #BDD537 5px solid;
}

.section-one {
	padding-top: 140px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg");
  background-size: cover;
}

.tagline {
  margin: 0;
  padding: 0;
  color: #fff;
  }

.tagline-top {
  margin: 0;
  padding: 5px 0 0 0;
  position: absolute;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
}

.tagline-mid {
  font-size: 155px;
  font-family: 'Oswald';
  font-weight: 100;
  padding: 0;
  margin: 0;
  height: 210px;
}

.tagline-btm {
   font-size: 18px;
   margin: 0;
   font-family: 'Oswald', Helvetica, sans-serif;
   font-weight: 500;
   display: flex;
   justify-content: space-between;
   align-content: center;
   letter-spacing: 1px;
   padding: 0 20px;
 }

.tagline-btm::before, .tagline-btm::after {
  content: "";
  height: 10px;
  width: 90px;
  background: #fff;
  margin: 8px 0 8px 0;
}

.btn {
  width: 180px;
  height: 50px;
  background: #BDD436;
  margin: 40px auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two {
  margin: 0;
  padding: 0;
}

.section-two p {
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  width: 1140px;
  height: 108px;
  margin: 0 auto;
  padding: 50px 0;
  color: #6A787C;
}

.section-two-header {

}

.section-two-left {

}

.arrow {

}

.section-two-mid {

}

.section-two-right {

}

.section-three {

}

.section-three-left {

}

.section-three-right {

}

.section-four {

}

.companies {

}

.ui-ux {

}

.mobile {

}

.elearning {

}

.ui-ux-elearning {

}

.ecommerce {

}

.back-front {

}

.section-five {

}

.section-five-left {

}

.section-five-right {

}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font:  12px "Lato", sans-serif;
	color: #97A2A7;
}

.footer a {
	font-size: 12px;
	text-decoration: none;
	padding: 0 10px;
}

.footer a:hover {
	color: #BDD537;
}

.privacy {
	color: #BDD537;
}
